---
// Script block for Astro component state and logic
let isMenuOpen = false;

function toggleMenu() {
  isMenuOpen = !isMenuOpen;
}
---

<div class='relative'>
  <!-- DropUp Button -->
  <button
    id='dropUpButton'
    type='button'
    class='p-2 bg-transparent border rounded text-white-500 border-white-500 hover:bg-transparent-500 hover:text-white'
    @click={toggleMenu}
  >
    © SERP
  </button>

  <!-- DropUp Menu -->
  <div
    id='dropUp'
    class={`absolute bottom-full mb-2 right-0 bg-white shadow-lg rounded w-auto min-w-max ${isMenuOpen ? 'block' : 'hidden'}`}
  >
    <!-- Dropdown Title (SERP BRANDS) -->
    <span class='block px-4 py-2 text-sm font-semibold text-gray-700'>SERP</span>

    <!-- Dropdown Items -->
    <a href='https://serp.co' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'>SERP</a>
    <a href='https://serp.ai' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'>SERP AI</a
    >
    <a href='https://best.serp.co' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >SERP Best</a
    >
    <a href='https://serp.games' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >SERP Games</a
    >
    <a href='https://serp.media' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >SERP Media</a
    >
    <a href='https://serpuniversity.com' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >SERP University</a
    >
    <a href='https://serp.wiki' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >SERP Wiki</a
    >
    <a href='https://serp.ly' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'>SERP ly</a
    >

    <!-- Divider -->
    <div class='my-2 border-t border-gray-200'></div>
    <!-- Partner Brands Section -->
    <span class='block px-4 py-2 text-sm font-semibold text-gray-700'>PARTNERS</span>
    <a href='https://daft.fm' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'>DAFT FM</a
    >
    <a
      href='https://boxingundefeated.com'
      class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
      target='_blank'>Boxing Undefeated</a
    >
    <a
      href='https://devinschumacher.com'
      class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
      target='_blank'>Devin Schumacher</a
    >
    <a
      href='https://universityofguns.com'
      class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
      target='_blank'>University of Guns</a
    >
    <a
      href='https://merchantalternatives.com'
      class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
      target='_blank'>Merchant Alternatives</a
    >

    <!-- Piggyback -->
    <div class='my-2 border-t border-gray-200'></div>
    <span class='block px-4 py-2 text-sm font-semibold text-gray-700'>PROJECTS</span>
    <a
      href='https://devinschumacher.github.io'
      class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
      target='_blank'>devinschumacher.github.io</a
    >
    <a
      href='https://boxingundefeated.github.io'
      class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
      target='_blank'>boxingundefeated.github.io</a
    >
    <a
      href='https://universityofguns.github.io'
      class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
      target='_blank'>universityofguns.github.io</a
    >

    <!-- Links -->
    <div class='my-2 border-t border-gray-200'></div>
    <span class='block px-4 py-2 text-sm font-semibold text-gray-700'>🥧🔗</span>
    <a
      href='https://sites.google.com/serp.co/best-pies'
      class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
      target='_blank'>Google 🥧</a
    >
    <a
      href='https://links.boxingundefeated.com'
      class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
      target='_blank'>Boxing Undefeated 🔗</a
    >
    <a href='https://links.daft.fm' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >DAFT FM 🔗</a
    >
    <a
      href='https://links.devinschumacher.com'
      class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
      target='_blank'>DS 🔗</a
    >
    <a href='https://links.serp.ai' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >SERP AI 🔗</a
    >
    <a href='https://links.serp.co' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >SERP 🔗</a
    >
    <a href='https://links.serp.games' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >SERP Games 🔗</a
    >
    <a href='https://links.serp.ly' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >SERPly 🔗</a
    >
    <a href='https://links.serp.media' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >SERP Media 🔗</a
    >
    <a href='https://links.serp.style' class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100' target='_blank'
      >SERP Style 🔗</a
    >
    <a
      href='https://links.universityofguns.com'
      class='block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100'
      target='_blank'>UofG 🔗</a
    >
  </div>
</div>

<script type='module'>
  const dropUpButton = document.getElementById('dropUpButton');
  const dropUp = document.getElementById('dropUp');

  dropUpButton.addEventListener('click', () => {
    dropUp.classList.toggle('hidden');
  });
</script>
